*{
    box-sizing: border-box;
    font-size: 20px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator{
    border: 1px solid black;
    border-radius: 8px;
    padding: 20px;
    margin-top: 50px;
}

.monitor{
    width:400px;
    height:100px;
    background-color: grey;
    border-radius: 8px;
    margin-bottom: 20px;
}

.buttons{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap:10px;
}

.button{
    padding: 10px;
}

.button.tall{
    grid-row: span 2;
}

.button.fat{
    grid-column: span 2;
}

.button:active{
    background-color: orange;

}

.formula{
    height:40%;
    padding: 7px 10px;
    text-align: right;
    overflow: hidden;
}

.solution{
    height:60%;
    font-size: 30px;
    padding:13px;
    text-align: right;
    overflow: hidden;
}